# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
/data/*
/.gitpod.yml
/.gitpod.Dockerfile
/nextflow.config

# files with extension
*.swf
*.air
*.ipa
*.apk
*.log
*.fast5
*.fastq
*.fastq.gz
*.fasta
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
